{{ define "header" }}
{{ $icon := resources.Get "img/external-link.svg" }}
{{ .Scratch.SetInMap "icons" "external-link" $icon.Content }}

<p class="flex">URL:
    <a href="{{ .Params.link }}" class="flex items-center ml-1" target="_blank" rel="noopener">
        {{ .Params.link }}
        <span class="h-5 ml-1">
            {{- index (.Scratch.Get "icons") "external-link" | safeHTML }}
        </span>
    </a>
</p>
<p><a class="hover:underline" href="/categories">Categories</a>:
    {{- range $index, $value := sort .Params.categories -}}
    {{ if $index }},{{ end }}
    <a class="hover:underline" href="/categories/{{ $value | urlize}}">{{ $value }}</a>
    {{- end -}}
</p>
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="flex flex-wrap md:flex-nowrap -mx-4" data-colcade="columns: .masonry-col, items: .masonry-item">
    <div class="masonry-col w-full max-w-xl"></div>
    <div class="masonry-col w-full max-w-xl hidden sm:block"></div>
    <div class="masonry-col w-full max-w-xl hidden xl:block"></div>
    <div class="masonry-col w-full max-w-xl hidden 2xl:block"></div>

    {{ $captionClasses := "flex justify-between items-center p-2 border-b font-display" }}
    {{ range .Resources.Match "images/*" }}
    {{ $img := .Resize "600x Linear" }}
    <figure class="masonry-item mx-4 mb-8">
        <div class="border rounded shadow overflow-hidden">
            <caption>
                {{ $name := index (split .Name ".") 1 }}
                {{ if not .Params.link }}
                <span class="{{ $captionClasses }}">{{ $name }}</span>
                {{ else }}
                <a href="{{ .Params.link }}" class="{{ $captionClasses }}" target="_blank" rel="noopener noreferrer">
                    {{ $name }}
                    <span class="h-4 ml-1">
                        {{- index ($.Scratch.Get "icons") "external-link" | safeHTML }}
                    </span>
                </a>
                {{ end}}
            </caption>
            <img class="object-contain object-top" src="{{ $img.Permalink }}" alt="{{ $.Title }}"
            data-image-opened="{{ .Permalink }}">
        </div>
    </figure>
    {{ end }}
</div>
{{ end }}