{{ define "header" }}
<p>URL: <a href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Params.link }} ⬈</a></p>
<p><a class="hover:underline" href="/categories">Categories</a>:
    {{- range $index, $value := sort .Params.categories -}}
    {{ if $index }},{{ end }}
    <a class="hover:underline" href="/categories/{{ $value | urlize}}">{{ $value }}</a>
    {{- end -}}
</p>
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="flex flex-wrap md:flex-nowrap -mx-4" data-colcade="columns: .masonry-col, items: .masonry-item">
    <div class="masonry-col flex-grow"></div>
    <div class="masonry-col hidden sm:block flex-grow"></div>
    <div class="masonry-col hidden xl:block flex-grow"></div>
    <div class="masonry-col hidden 2xl:block flex-grow"></div>

    {{ range .Resources.Match "images/*" }}
    {{ $img := .Resize "600x Linear" }}
    <figure class="masonry-item mx-4 mb-8">
        <div class="border rounded shadow overflow-hidden">
            <caption><span class="block p-2 border-b font-display">{{ index (split .Name ".") 1 }}</span></caption>
            <img class="object-contain object-top" src="{{ $img.Permalink }}" alt="{{ $.Title }}">
        </div>
    </figure>
    {{ end }}
</div>

{{ end }}