{{ define "main" }}
<header class="reverse">
    <a id="back" href="/">View all Projects</a>
    <h1 id="page-title">
        <a href="{{ $.Params.link }}" target="_blank" rel="noopener">{{ .Title }} ⬈</a>
    </h1>
</header>

<p>Stack:
    {{- range $index, $value := .Params.categories -}}
    {{ if $index }},{{ end }}
    <a href="/categories/{{ $value | urlize}}">{{ $value }}</a>
    {{- end -}}
</p>


{{ range first 1 .Params.images }}
{{ $img := resources.Get . }}
{{ $img := $img.Resize "600x Linear" }}
<a href="{{ $.Params.link }}" target="_blank" rel="noopener">
    <img id="featured-image" src="{{ $img.Permalink }}" alt="{{ $.Title }}">
</a>
{{ end }}

{{ .Content }}
{{ end }}