@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat&display=swap');

body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #212121;
    background: #f9f9f9;

    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

input,
textarea,
button {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    transition: background 200ms ease;
    background: #fff;

    &:focus {
        outline: auto;
    }
}

button:hover {
    background: #fff;
}

aside {
    width: 20vw;
    min-width: 300px;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden auto;

    background-image: linear-gradient(#f9f9f9bb, #f9f9f9bb), url("/img/y-so-serious-white.png");
    background-repeat: repeat;
}

@media (max-width: 775px) {
    body {
        flex-flow: column nowrap;
    }

    aside {
        width: 100vw;
        height: auto;
    }

    main {
        height: auto;
    }
}

#back {
    display: block;
    transform: translateX(-10px);
    margin-bottom: 20px;
    color: inherit;
    text-decoration: none;
}

#page-title {
    color: inherit;
    text-decoration: none;
}

#featured-image {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}