@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply block mb-4 leading-loose;
}

input,
textarea,
form button {
  @apply block w-full px-4 py-2 border rounded bg-white leading-normal focus:border-green-300;
}

.feather {
  max-height: 100%;
  stroke: currentColor;
}

#resumePDF {
  max-height: 1371px;
  aspect-ratio: 9 / 11.7;
}
