@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    @apply block mb-4 leading-loose;
}

input,
textarea,
form button {
    @apply block w-full px-4 py-2 border rounded bg-white leading-normal focus:border-green-300;
}

.feather {
    max-height: 100%;
    stroke: currentColor;
}

.ml_box {
    @apply fixed top-0 right-0 bottom-0 left-0 m-4 mt-8 sm:m-16 overflow-x-visible overflow-y-scroll;
}

.ml_box::before {
    content: "✖ Close";
    @apply fixed top-0 right-0 block mx-4 mt-1 sm:mx-16 sm:mt-8 text-right text-white font-display font-bold cursor-pointer z-10;
}

.ml_box::after {
    content: "";
    background: #0009;
    @apply fixed block top-0 right-0 bottom-0 left-0;
}

.ml_box img {
    @apply relative z-10;
}