@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Lato;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Lato-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Montserrat-Regular.ttf')  format('truetype');
}


label {
    @apply block mb-4 leading-loose;
}

input, textarea, form button {
    @apply block w-full px-4 py-2 border rounded bg-white leading-normal focus:border-green-300;
}