<div class="lg:h-screen flex lg:flex-col lg:gap-10 justify-between px-12 py-10">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      {{ $img := resources.Get "img/profile.jpg" }}
      <img
        class="rounded-xl mr-6"
        src="{{ $img.Permalink }}"
        alt="Rayne"
        width="250"
        height="250"
      />

      <h2 class="text-4xl leading-relaxed font-display font-bold">
        Hi!
        <br />
        I'm Rayne
      </h2>
    </div>

    <div class="flex flex-col gap-4">
      <div>
        <h4 class="mb-2 font-display font-bold">About me</h4>
        <p>
          I am a full stack engineer with a focus on infrastructure and site reliability. I’m looking for interesting problems and a passionate team.
        </p>
      </div>
      <div>
        <h4 class="mb-2 font-display font-bold">Experience in</h4>
        <p>
	  AWS Cloud, Kubernetes, Pulumi, Terraform, SQL, PostgreSQL, ElasticSearch, Redis, Git, GraphQL, REST, TypeScript, JavaScript, Node.js, Go, Python, React, Jest
        </p>
      </div>
    </div>
  </div>

  <div>
    <nav>
      <ul class="ml-2 font-display">
        <li class="border-b my-4"></li>

        {{ range .Site.Menus.main }}
          <li class="mb-2">
            <a
              class="block lg:transform transition-transform hover:scale-105 origin-left"
              href="{{ .URL }}"
            >
              {{ .Pre }}
              {{ .Name }}
            </a>
          </li>
        {{ end }}


        <li class="border-b my-4"></li>

        {{ range .Site.Data.social }}
          {{ $img := resources.Get .icon }}
          <li class="mb-2">
            <a
              class="flex gap-2 lg:transform transition-transform hover:scale-105 origin-left"
              href="{{ .link }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img class="w-4" src="{{ $img.Permalink }}" alt="{{ .name }}" />
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
