<aside class="flex-shrink-0 lg:border-r overflow-y-auto bg-dark text-white">
    <div class="lg:h-screen flex lg:flex-col justify-between px-12 py-10">
        <div>
            <nav class="lg:mb-10">
                <h1 class="mb-2 text-3xl font-display font-bold">Atwood.io</h1>
                <ul class="ml-2">
                    {{ range .Site.Menus.main}}
                    <li class="mb-2">
                        <a class="block lg:transform transition-transform hover:scale-105" href="{{ .URL }}">
                            {{ .Pre }} {{ .Name }}
                        </a>
                    </li>
                    {{ end }}

                    <li class="border-b my-4"></li>

                    {{ range .Site.Data.social }}
                    {{ $img := resources.Get .icon }}
                    <li class="mb-2">
                        <a class="flex gap-1 lg:transform transition-transform hover:scale-105" href="{{ .link }}"
                            target="_blank" rel="noopener noreferrer">
                            <img class="w-4" src="{{ $img.Permalink }}" alt="{{ .name }}">
                            {{ .name }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <div class="hidden lg:block">
                <h3 class="mt-4 mb-1 text-lg font-display font-bold">
                    <a href="/categories">Project Categories</a>
                </h3>
                <ul class="ml-2">
                    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                    <li><a href="/categories/{{ $name | urlize }}">{{ $name | title }} <sup>{{ len .Pages}}</sup></a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</aside>