<a class="project" href="{{ .link }}" target="_blank">
    {{ if .img }}
    {{ $img := resources.Get (printf "%s/%s" "img" .img) }}
    {{ $img := $img.Fill "520x300 top" }}
    <img src="{{ $img.Permalink }}" alt="">
    {{ else }}
    <img src="https://via.placeholder.com/400x300" alt="">
    {{ end}}

    <div class="content">
        <p class="title">{{ .name }}</p>
        <div class="categories">
            {{ range .categories }}
            {{ if (fileExists (printf "static/img/%s.svg" . )) }}
            <img src="/img/{{ . }}.svg" alt="{{ . }}" title="{{ . }}">
            {{ else }}
            {{ . }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</a>