<a class="project" href="{{ .Permalink }}">
    {{ range first 1 .Params.images }}
    {{ $img := resources.Get . }}
    {{ $img := $img.Fill "520x300 top" }}
    <img id="featured-image" src="{{ $img.Permalink }}" alt="{{ $.Title }}">
    {{ end }}

    <div class="content">
        <p class="title">{{ .Title }}</p>
        <div class="categories">
            {{ range first 1 .Params.categories }}
            {{ if (fileExists (printf "static/img/%s.svg" . )) }}
            <img src="/img/{{ . }}.svg" alt="{{ . }}" title="{{ . }}">
            {{ end }}
            {{ . }}
            {{ end }}
        </div>
    </div>
</a>