#sidebar {
    padding: 40px 40px;
    box-sizing: border-box;
    overflow: scroll;

    border-right: 1px solid #ddd;

    background-color: #fff;
    background-image: linear-gradient(#fffb, #fffb), url("/img/double-bubble-outline.png");
    box-shadow: 0 0 6px #0001;

    .photo {
        width: 150px;
        display: block;
        border-radius: 5px;
    }

    .description {
        margin-top: 0;
        padding-left: 10px;
    }

    .subtitle {
        margin-top: 10px;
    }

    .info {
        padding-left: 10px;
        margin: 0 0 10px;
        font-size: 0.9rem;
    }

    form {
        margin-bottom: 40px;
    }

    textarea {
        resize: none;
        max-height: 100px;
    }

    @media (max-width: 775px) {
        display: grid;
        grid-template-columns: 175px 1fr;
        grid-gap: 15px;

        .photo {
            width: 100%;
        }

        .contact {
            display: none;
        }
    }

    button[type="submit"] {
        cursor: pointer;

        transition: background 100ms;

        &:hover {
            background: #f9f9f0;
        }
    }
}