#sidebar {
    height: 100vh;
    padding: 40px 40px;
    box-sizing: border-box;
    overflow: scroll;

    border-right: 1px solid #ddd;

    background: #fff;
    box-shadow: 0 0 6px #0001;

    .photo {
        flex-grow: 1;
        display: block;
        border-radius: 5px;
    }

    .description {
        margin-top: 0;
    }

    .subtitle {
        margin-top: 10px;
    }

    .info {
        padding-left: 10px;
        margin: 0 0 10px;
        font-size: 0.9rem;
    }

    form {
        margin-bottom: 40px;
    }

    textarea {
        resize: none;
        max-height: 100px;
    }
}